
%div.px-4.py-5.my-5.text-center
  %h1 Bienvenue dans l'Arène des Combattants
  %p Choisissez vos héros, équipez-les et lancez-les dans le combat ultime !
  %a.btn.btn-primary(href="/characters/new") Créer un personnage
  %a.btn.btn-secondary(href="/battles/new") Lancer un combat